{% extends 'base.html' %}

{% block title %}Add Sales for existing customer{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="studenttable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Name</th>

        </tr>
      </thead>
      <tbody>

        {% for sale in sales %}
          <tr class='clickable-row' data-href="{% url 'existing-sales-create' sale.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ sale.name}}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#studenttable').DataTable({
  });
</script>

{% endblock morejs %}
